@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none;
}

.cover-container {
  max-width: 42em;
}

.nav-masthead .nav-link {
  padding: 0.25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  background-color: transparent;
  border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
#bottom-buttons-div {
  display: flex;
  padding-left: 25%;
  
}
.share-buttons-div{
text-align: start;
padding-right: 70px;


}
.share-link{
padding-top: 15px;
}
@media only screen and (max-width: 768px) {
  #save {
    width: 17vh !important;
  }
  #main-content-span {
    width: 100% !important;
    border: none !important;
  }
  body {
    padding-bottom: 10vh;
  }
  #title-col {
    width: 100% !important;
  }
  #navbar {
    width: 100% !important;
  }
  #title-div {
    padding-left: 0 !important;
  }
  #title-h3 {
    padding-left: 0 !important;
    float: unset !important;
  }
  #add-option-col {
    width: auto !important;
  }
  #options-col {
    width: auto !important;
  }
}
/* iPhone 5 için */
@media screen and (device-aspect-ratio: 40/71) {
  #main-content-span {
    padding: 1rem !important;
  }
}
@media only screen and (max-width: 1200px) {
  #title-h3 {
    padding-left: 0 !important;
  }
}
/* input {
  height: 42px !important;
  font-size: larger !important;
}
*/

input {
  height: 45px !important;
  font-size: 20px !important;
  background: transparent !important;
  color: #fff !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
  font-size: larger !important;
}

input[name="option"] {
  font-size: medium !important;
}

.field__input {
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);

  background-color: transparent;
  border-radius: 0;
  border: none;

  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: inherit;
  font-size: inherit;
}

.field__input:focus::-webkit-input-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder {
  color: var(--uiFieldPlaceholderColor);
}

/*
=====
CORE STYLES
=====
*/

.field {
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldPaddingRight: var(--fieldPaddingRight, 1rem);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 1rem);
  --uiFieldBorderColorActive: var(
    --fieldBorderColorActive,
    rgba(22, 22, 22, 1)
  );

  display: var(--fieldDisplay, inline-flex);
  position: relative;
  font-size: var(--fieldFontSize, 1rem);
}

.field__input {
  box-sizing: border-box;
  width: var(--fieldWidth, 100%);
  height: var(--fieldHeight, 3rem);
  padding: var(--fieldPaddingTop, 2rem) var(--uiFieldPaddingRight)
    var(--fieldPaddingBottom, 0.5rem) var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid
    var(--fieldBorderColor, rgba(0, 0, 0, 0.25)) !important;
}

.field__input:focus {
  outline: none;
}

.field__input::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.field__input::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

.field__input:focus::-webkit-input-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.field__input:focus::-moz-placeholder {
  opacity: 1;
  transition-delay: 0.2s;
}

.field__label-wrap {
  box-sizing: border-box;
  pointer-events: none;
  cursor: text;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.field__label-wrap::after {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 0;
  opacity: 0;
  border-radius: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.field__input:focus ~ .field__label-wrap::after {
  opacity: 1;
}

.field__label {
  position: absolute;
  left: var(--uiFieldPaddingLeft);
  top: calc(50% - 0.5em);
  line-height: 1;
  font-size: var(--fieldHintFontSize, inherit);
  transition: top 0.2s cubic-bezier(0.9, -0.15, 0.1, 1.15),
    opacity 0.2s ease-out, font-size 0.2s ease-out;
  will-change: bottom, opacity, font-size;
}

.field__input:focus ~ .field__label-wrap .field__label,
.field__input:not(:placeholder-shown) ~ .field__label-wrap .field__label {
  --fieldHintFontSize: var(--fieldHintFontSizeFocused, 0.75rem);

  top: var(--fieldHintTopHover, 0.25rem);
}

/*
effect 3
*/

.field_v3 .field__label-wrap::after {
  border: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColorActive);
  will-change: opacity, height;
  transition: height 0.2s ease-out, opacity 0.2s ease-out;
}

.field_v3 .field__input:focus ~ .field__label-wrap::after {
  height: 100%;
}

.field {
  --fieldBorderColor: #d1c4e9;
  --fieldBorderColorActive: transparent;
}

.container-radio {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

@-webkit-keyframes checkmarkAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes checkmarkAnimation {
  100% {
    stroke-dashoffset: 0;
  }
}

.wrapper {
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.input-wrapper {
  margin: 20px 0;
  position: relative;
  border-bottom: 00.1rem solid white;
  padding: 0.1rem;
}

.fancy-check-label,
.fancy-radio-label {
  display: inline-block;
  line-height: 24px;
  padding-left: 36px;
  position: relative;
  -webkit-user-select: no-select;
  -moz-user-select: no-select;
  -ms-user-select: no-select;
  user-select: no-select;
  color: white;
}

.crappy-browser .fancy-check-label .checkmark-path {
  opacity: 0;
}
.modern-browser .fancy-check-label {
  transition: color 0.3s;
}
.fancy-check:checked + .fancy-check-label {
  color: #28df99 !important;
}
.fancy-check:checked + .fancy-check-label .fancy-checkbox {
  border-color: #28df99 !important;
}
.modern-browser .fancy-check:checked + .fancy-check-label .checkmark-path {
  -webkit-animation: checkmarkAnimation 0.5s 0s forwards;
  animation: checkmarkAnimation 0.5s 0s forwards;
}
.crappy-browser .fancy-check:checked + .fancy-check-label .checkmark-path {
  opacity: 1;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}

.fancy-label--text {
  position: relative;
}

.fancy-radio:checked + .fancy-radio-label {
  color: #28df99 !important;
}
.fancy-radio:checked + .fancy-radio-label .fancy-label--text::before {
  transition: transform 0.15s;
  transform: scaleX(1);
}
.fancy-radio:checked + .fancy-radio-label .fancy-radiobutton {
  border-color: #28df99 !important;
  transition: border-color 0.5s;
}
.fancy-radio:checked + .fancy-radio-label .radiobutton-dot {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 0.15s, transform 0.15s;
}

.fancy-checkbox,
.fancy-radiobutton {
  border: solid 2px #888;
  display: block;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
}
.modern-browser .fancy-checkbox,
.modern-browser .fancy-radiobutton {
  transition: border-color 0.3s;
}

.fancy-checkbox {
  border-radius: 3px;
}

.fancy-radiobutton {
  border-radius: 50%;
}

.radiobutton-dot {
  background-color: currentColor;
  border-radius: 50%;
  height: 12px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 12px;
}

.checkmark {
  height: 20px;
  opacity: 1;
  width: 100%;
}
.checkmark .checkmark-path {
  stroke: #28df99 !important;
  stroke-width: 2px;
  transform-origin: 50% 50%;
  stroke-miterlimit: 10;
  opacity: 1;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
}

#coppy-button{
  background-color: transparent;
   border-top-right-radius: 13px; 
   border-color: #ffee93;

}
#copy-input{
  padding-left: 13px; 
   width: 210px;
    height: 100px; 
    border-bottom-left-radius: 13px;
    border-color: #ffee93;
}